@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* * {
    box-sizing: border-box;
    outline: 1px dotted blue;
  } */

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* Add the gradient background */
  body {
    background: linear-gradient(-35deg, #f2f3f2, #dedede, #c9cac9, #a0a1a0);
    background-size: 105% 105%;
    animation: gradient 35s ease infinite;
    min-height: 100vh;
  }
}

/* Gradient animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Font declarations */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/font/PlusJakartaSans-Variable.ttf') format('truetype-variations');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/font/PlusJakartaSans-Italic-Variable.ttf') format('truetype-variations');
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}

